.lead__shelf {
  margin: 0;
  max-width: 984px;
  /* width: 100%; */
  /* --img-padding: calc((100vw - 984px) / 2); */
}

@media (max-width: 1280px) {
  .lead__shelf {
    /*font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);*/
    width: 100%;
    /* --img-padding: calc((100vw - ((100vw - 1024px) / (1280 - 1024)*(984 - 928) + 928px)) / 2); */
  }
}

@media (max-width: 1024px) {
  .lead__shelf {
    /*font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);*/
    width: 928px;
  }
}

@media (max-width: 768px) {
  .lead__shelf {
    /*font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);*/
    width: 768px;
  }
}