.lead {
    width: 78%;
    margin: 0 auto;
 }
 
 @media screen and (max-width: 1024px) {
    .lead {
       width: 91%;
    }
 }
 
 @media screen and (max-width: 768px) {
    .lead {
       width: 100%;
    }
 }
 
 @media screen and (max-width: 320px) {
    .lead {
       width: 320px;
    }
 }